.book-details {
  text-align: center;
}

.book-details-cover {
  display: inline-block;
  float: none;
}

.book-ratings {
  display: flex;
  justify-content: center;
}

.book-ratings-stars {
  padding: 13px 5px 0 0;
  float: left;
}

.book-ratings-count {
  font-weight: bold;
  display: inline-block;
  float: left;
}