.book-details {
  text-align: center;
}

.book-detail-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-ratings {
  display: flex;
  justify-content: center;
}

.book-ratings-stars {
  padding: 13px 5px 0 0;
  float: left;
}

.book-ratings-count {
  font-weight: bold;
  display: inline-block;
  float: left;
}