.bookshelf {
  padding: 0 0 10px;
}
@media (min-width: 600px) {
  .bookshelf {
    padding: 20px 20px;
  }
}
.bookshelf-title {
  border-bottom: 1px solid #dedede;
}
.bookshelf-books {
  text-align: center;
}